html, body {
    height: 100%;
}


body {
    display: flex;
    margin: 0px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}


#container {
    width: 320px;
    height: 320px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#container > div {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    aspect-ratio: 1;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
}